#sidebar {
    background-image: url(../images/bg_1.jpg);
}
#content {
    background-color: #73BEF1;
    color: white;
}
li {
    list-style: none;
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
    #sidebar {
        max-width: 100%;
        min-width: 100%;
    }
}
@media (max-width: 642px) {
    .card {
        margin-right: 0!important;
        padding: 0!important;
        width: 94%;
    }
}